charset "UTF-8";

/* header */
.header{
  background-color: #24436F;
  position: absolute;
  width: 1440px;
  height: 75px;
  left: 0px;
  top: 0px;
}


/* header-container */
.header-container{
  position: absolute;
  width: 1126px;
  height: 75px;
  left: 175px;
  top: 0px;
}

/* header-small-container */

.header-small-container{
  position: absolute;
  width: 1126px;
  height: 30px;
  left: 0px;
  top: 13px;
  border-radius: 0px;
}


/* main-header */
.main-header{
  position: absolute;
  width: 1125px;
  height: 13px;
  left: 0px;
  top: 52px;
}
