html {
  line-height: 1.15;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

a:link, a:hover, a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* layout */
/* header */
.header {
  background-color: #24436F;
  min-width: 1126px;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1126px;
  margin: 0 auto;
  padding: 13px 0;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo > img {
  border-style: none;
  vertical-align: bottom;
}

.header-description {
  padding-left: 12px;
}

.header-description__title {
  color: #BFC9D7;
  letter-spacing: -0.05em;
  font-size: 12px;
  font-weight: normal;
}

.header-admin {
  margin-left: auto;
}

.header-admin__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 15px 8px;
  background-color: #345584;
  border-radius: 4px;
}

.header-admin__item:not(:last-child) {
  position: relative;
  padding-right: 15px;
}

.header-admin__item:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 13px;
  background-color: #BFC9D7;
  position: absolute;
  top: 4px;
  right: 7px;
}

.header-admin__link {
  font-size: 13px;
  color: #FFFFFF;
}

.header-search {
  width: 288px;
  margin-left: 10px;
}

.header-search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-search__form input[type=text] {
  outline: none;
}

.header-search__input {
  background-color: #FFFFFF;
  line-height: 30px;
  height: 30px;
  font-size: 13px;
  padding-left: 15px;
  border-radius: 4px 0 0 4px;
  width: 258px;
  border: none;
}

.header-search__button {
  background-color: #3081C9;
  background-image: url("../images/search-icon.svg");
  background-size: 19px 19px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0 4px 4px 0;
  height: 30px;
  width: 30px;
  border: none;
}

.header-search__button:hover {
  cursor: pointer;
}

.header-navigation__link, .header-navigation__link--active {
  font-size: 13px;
  color: #BFC9D7;
}

.header-navigation {
  min-width: 1126px;
  margin-top: -1px;
}

.header-navigation__list {
  width: 1126px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px 0 13px;
}

.header-navigation__item {
  line-height: 13px;
}

.header-navigation__item:not(:last-child) {
  position: relative;
  padding-right: 20px;
}

.header-navigation__item:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 13px;
  background-color: #BFC9D7;
  position: absolute;
  top: 0;
  right: 9px;
}

.header-navigation__link--active {
  font-weight: bold;
  color: #FFFFFF;
}

.header-navigation__link:hover {
  color: #FFFFFF;
}

/* end header */
/* category-navigation */
.category-navigation {
  border-bottom: 1px solid #E4E4E4;
  min-width: 1126px;
}

.category-navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
}

.category-navigation__item {
  padding: 0 10px;
}

.category-navigation .category-navigation__link, .category-navigation .category-navigation__link--active {
  color: #294C7A;
  font-size: 13px;
}

.category-navigation__link--active {
  font-weight: bold;
}

.category-navigation__link:hover {
  font-weight: bold;
}

/* end category-navigation */
/* ranking */
.ranking {
  padding: 22px 0;
  background-color: #F2F2F2;
  min-width: 1126px;
}

.ranking-wrapper {
  width: 1126px;
  margin: 0 auto;
}

.ranking__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

.ranking__item {
  width: 181px;
}

.ranking__item:not(:last-child) {
  margin-right: 7px;
}

.ranking-container {
  position: relative;
  background-color: #FFFFFF;
  min-height: 218px;
}

.ranking__link {
  display: block;
  height: 100%;
}

.ranking__image {
  height: 100px;
  overflow: hidden;
  position: relative;
}

.ranking__image-img {
  width: 100%;
}

.ranking__number {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  background-color: #294C7A;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  z-index: 1;
}

.ranking__content {
  padding: 7px 10px;
}

.ranking__title {
  font-size: 13px;
  line-height: 1.6;
  color: #3B3B3B;
  overflow: hidden;
  line-break: normal;
  height: 60px;
}

.ranking__info {
  position: relative;
  left: 10px;
  bottom: 7px;
  width: 161px;
}

.ranking__time {
  position: relative;
  color: #A2A2A2;
  font-size: 12px;
  height: 14px;
  display: block;
  line-height: 15px;
  padding-left: 17px;
}

.ranking__time::before {
  content: '';
  position: absolute;
  background-image: url("../images/time-icon.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  left: 0;
}

.ranking__company-name {
  margin: 2px 0;
  color: #A2A2A2;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ranking__company-name-link {
  margin: 2px 0;
  color: #A2A2A2;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ranking__pageview {
  color: #A2A2A2;
  font-size: 12px;
  margin: 2px 0;
}

/* end ranking */
/* main */
.main {
  width: 1126px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 50px;
}

.page-main {
  width: 779px;
}

.page-main__title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 36px;
  margin-bottom: 15px;
  color: #3B3B3B;
}

.articles-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.list-article {
  width: 380px;
  min-height: 118px;
  padding: 15px 0 13px;
  border-bottom: 1px solid #E4E4E4;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list-article:nth-child(2n) {
  margin-left: auto;
}

.list-article__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.list-article__content {
  width: 265px;
  height: 100%;
}

.list-article__title {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 160%;
  color: #3B3B3B;
  margin-top: 0;
  margin-bottom: 3px;
  word-break: break-all;
}

.list-article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 12px;
}

.list-article__time {
  position: relative;
  color: #A2A2A2;
  font-size: 12px;
  height: 12px;
  line-height: 100%;
  display: inline-block;
  padding-left: 18px;
}

.list-article__time::before {
  content: '';
  position: absolute;
  background-image: url("../images/time-icon.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  left: 0;
  top: -2px;
}

.list-article__company-name-link {
  color: #A2A2A2;
  font-size: 12px;
  line-height: 100%;
  width: 144px;
  height: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  margin-left: 12px;
}

.list-article__image-container {
  margin-left: 15px;
  width: 100px;
}

.list-article__image {
  position: relative;
  display: block;
  min-width: 100px;
  height: 66px;
  background-color: #F2F2F2;
  overflow: hidden;
}

.list-article__image-img {
  width: 100%;
}

.article-more {
  margin-top: 30px;
  width: 100%;
}

.article-more__link {
  width: 110px;
  line-height: 38px;
  background-color: #3081C9;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  text-align: center;
  position: relative;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin: 0 auto;
}

.article-more__link:hover {
  background-color: #59A7E6;
}

.sidebar {
  width: 312px;
  margin-left: auto;
}

.sidebar-keywords {
  padding: 1px 0 10px;
  border-bottom: 1px solid #E4E4E4;
}

.sidebar-keywords__title {
  font-size: 18px;
  color: #3B3B3B;
  line-height: 27px;
  font-weight: bold;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.sidebar-keywords__item {
  background-color: #F1F1F1;
  border-radius: 11px;
  margin: 0 12px 9px 0;
  display: inline-block;
}

.sidebar-keywords__item--more {
  display: inline-block;
  margin: 0 0 14px 0;
  border-radius: 11px;
  border: 1px solid #F1F1F1;
}

.sidebar-keywords__link {
  font-size: 12px;
  color: #3B3B3B;
  line-height: 22px;
  padding: 2px 8px;
}

/* end main */
/* footer */
.footer {
  background: #FAFAFA;
  min-width: 1126px;
  padding: 60px 10px 10px;
}

.footer-container {
  width: 1126px;
  margin: 0 auto;
}

.footer-menu {
  width: 100%;
  padding-bottom: 22px;
  display: table;
  border-bottom: 1px solid #E0E0E0;
}

.footer-menu__list-container {
  display: table-cell;
  width: 25%;
}

.footer-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-menu__item-title {
  color: #000000;
  display: block;
  margin-bottom: 18px;
  font-size: 13px;
  line-height: 1;
  height: 13px;
}

.footer-menu__item {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1;
  height: 12px;
}

.footer-menu__link {
  font-size: 12px;
  color: #797979;
  padding-bottom: 10px;
  cursor: pointer;
}

.footer-terms {
  padding: 13px 0 10px;
}

.footer-terms__list {
  padding: 0;
}

.footer-terms__item {
  margin-right: 25px;
  display: inline-block;
}

.footer-terms__link {
  font-size: 12px;
  color: #797979;
  line-height: 1;
}

.footer-copyright {
  padding-bottom: 10px;
}

.footer-copyright__text {
  font-size: 11px;
  color: #797979;
}

/* end footer */
/* end layout */
/*# sourceMappingURL=style.css.map */