@charset "UTF-8";
/* header */
.header {
  background-color: #24436F;
  min-width: 1126px;
}
.header-container {
  width: 1126px;
  margin: 0 auto;
  padding: 13px 0;
  display: flex;
  align-items: center;
}
.header-description {
  padding-left: 12px;
}
.header-description__title {
  color: #BFC9D7;
  letter-spacing: -0.05em;
  font-weight: normal;
  font-size: 12px;
}
.header-admin {
  margin-left: auto;
}
.header-admin__list {
  display: flex;
  padding: 6px 15px 8px;
  align-items: center;
  background-color: #345584;
  border-radius: 4px
}
.header-admin__item:not(:last-child) {
  position: relative;
  padding-right: 15px;
}
.header-admin__item:not(:last-child)::after {
  content: ''; /* content: ''; replaces elements with <string> value */
  width: 1px;
  height: 13px;
  background-color: #BFC9D7;
  position: absolute;
  top: 4px;
  right: 7px;
}
.header-admin__link {
  font-size: 13px;
  color: #FFFFFF;
}
.header-search {
  width: 288px;
  margin-left: 10px;
}
.header-search__form {
  display: flex;
}
.header-search__form input[type=text] {
  outline: none; /* I need to study this part... */
}
.header-search__input {
  background-color: #FFFFFF;
  line-height: 30px;
  height:30px;
  font-size: 13px;
  padding-left: 15px;
  border-radius: 4px 0 0 4px;
  width: 258px;
  border: none;
}
.header-search__button {
  background-color: #3081C9;
  background-image: url('../images/search-icon.svg'); /* I need to study this part... */
  background-size: 19px 19px;
  background-repeat: no-repeat;
  background-position: center;
  /* with shorthand properties these codes can be more concise like background: #3081C9 url('../images/search-icon.svg') no-repeat ceter; */
  border-radius: 0 4px 4px 0;
  height: 30px;
  width: 30px;
  border: none;
}
.header-search__button:hover {
  cursor: pointer;
}
.header-navigation__list {
  width: 1126px;
  display: flex;
  margin: 0 auto;
  padding: 1px 0 13px;
}
.header-navigation__item {
  line-height: 13px;
}
.header-navigation__item:not(:last-child) {
  position: relative;
  padding-right: 20px;
}
.header-navigation__item:not(:last-child)::after {
  content: '';
  width: 1px;
  height: 13px;
  background-color: #BFC9D7;
  position: absolute;
  top: 0;
  right: 9px;
}
.header-navigation__link {
  font-size: 13px;
  color: #BFC9D7;
}
.header-navigation__link--active {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
}
.header-navigation__link:hover {
  color: #FFFFFF;
}
/* end header */

/* category */
.category-navigation {
  border-bottom: 1px solid #E4E4E4; /* shorthand properties */
  min-width: 1126px;
}
.category-navigation__list {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.category-navigation__item {
  padding: 0 10px;
}
.category-navigation__link {
  color: #294C7A;
  font-size: 13px;
}
.category-navigation__link--active {
  color: #294C7A;
  font-size: 13px;
  font-weight: bold;
}
.category-navigation__link:hover {
  font-weight: bold;
}
/* end category */

/* ranking */
.ranking {
  padding: 22px 0;
  background-color: #F2F2F2;
  min-width: 1126px;
}
.ranking-wrapper {
  width: 1126px;
  margin: 0 auto;
}
.ranking__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
.ranking__item {
  width: 181px;
}
.ranking__item:not(:last-child) {
  margin-right: 7px;
}
.ranking-container {
  position: relative;
  background-color: #FFFFFF;
  height: 262px;
}
.ranking__link {
  display: block;
}
.ranking__image {
  height: 116px;
  overflow: hidden;
  position: relative;
}
.ranking__number {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  background-color: #294C7A;
  color: #FFFFFF;
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  z-index: 1;
}
.ranking__image-img {
  width: 100%;
}
.ranking__content {
  height: 128px;
  padding: 7px 10px;
}
.ranking__title {
  font-size: 13px;
  line-height: 1.6;
  color: #3B3B3B;
  height: 60px;
  overflow: hidden;
}
.ranking__time {
  position: relative;
  color: #A2A2A2;
  font-size: 12px;
  height: 14px;
  display:block;
  line-height: 15px;
  padding-left: 17px;
}
.ranking__time::before {
  content:'';
  position: absolute;
  background-image: url('../images/time-icon.svg');
  background-size: 14px 14px;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  left: 0;
}
.ranking__company-name {
  margin: 2px 0;
  color: #A2A2A2;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ranking__company-name-link {
  margin: 2px 0;
  color: #A2A2A2;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ranking__pageview {
  color: #A2A2A2;
  font-size: 12px;
  margin: 2px 0;
}
/* end ranking */

/* main */
.main {
  width: 1126px;
  margin: 0 auto;
  display: flex;
  padding: 30px 0 50px;
}
.page-main {
  width: 779px;
}
.page-main__title {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 36px;
  margin-bottom: 15px;
  color: #3B3B3B
}
.articles-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.list-article {
  width: 380px;
  min-height: 118px;
  padding: 15px 0 13px;
  border-bottom: 1px solid #E4E4E4;
  position: relative;
  display: flex;
}
.list-article:nth-child(2n) {
  margin-left: auto;
}
.list-article__link {
  display: flex;
  height: 100%;
}
.list-article__content {
  width: 265px;
  height: 100%;
}
.list-article__title {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 160%;
  color: #3B3B3B;
  margin-top: 0;
  margin-bottom: 3px;
  word-break: break-all;
}
.list-article__time-company-wrapper {
  display: flex;
  position: absolute;
  bottom: 12px;
}
.list-article__time {
  position: relative;
  color: #A2A2A2;
  font-size: 12px;
  height: 12px;
  line-height: 100%;
  display: inline-block;
  padding-left: 18px;
}
.list-article__time::before {
  content:'';
  position: absolute;
  background-image: url('../images/time-icon.svg');
  background-size: 15px 15px;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  display: inline-block;
  left: 0;
  top: -2px;
}
.list-article__company-name {
  color: #A2A2A2;
  font-size: 12px;
  line-height: 100%;
  width: 144px;
  height: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: : center;
  margin-left: 12px;
}
.list-article__company-name-link {
  color: #A2A2A2;
  font-size: 12px;
  line-height: 100%;
  width: 144px;
  height: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  align-items: : center;
  margin-left: 12px;
}
.list-article__image-container {
  margin-left: auto;
  width: 100%;
}
.list-article__image {
  position: relative;
  display: block;
  min-width: 100px;
  height: 66px;
  background-color: #F2F2F2;
  overflow: hidden;
}
.list-article__image-img {
  width: 100%;
}
.article-more {
  margin-top: 30px;
  width: 100%
}
.article-more__link {
  width: 110px;
  line-height: 38px;
  background-color:  #3081C9;
  color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 3px;
  text-align: center;
  position: relative;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  margin: 0 auto;
}
.article-more-link:hover {
  background-color: #59A7E6;
}
.sidebar {
  width: 312px;
  margin-left: auto;
}
/* end main */
