/* category */
.category-navigation {
    border-bottom: 1px solid $bottom_line_color;
    min-width: 1126px;
    &__list {
        @include flex_horizontal_center;
        padding: 10px 0;
    }
    &__item {
        padding: 0 10px;
    }
    &__link {
        color: $prtimes_color;
        font-size: 13px;
        &--active {
            font-weight: bold;
        }
        &:hover {
            font-weight: bold;
        }
    }
}
/* end category */