/* category-navigation */
.category-navigation {
    @include borderBottom;
    min-width: 1126px;
    &__list {
        @include flexHorizontalCenter;
        padding: 10px 0;
    }
    &__item {
        padding: 0 10px;
    }
    %link {
        color: $prtimes-color;
        font-size: 13px;
    }
    &__link {
        @extend %link;
        &--active {
            @extend %link;
            font-weight: bold;
        }
        &:hover {
            font-weight: bold;
        }
    }
}
/* end category-navigation */