@mixin flexHorizontalCenter {
    display: flex;
    justify-content: center;
}
@mixin flexVerticalCenter {
    display: flex;
    align-items: center;
}
@mixin widthMargin {
    width: 1126px;
    margin: 0 auto;
}
@mixin borderBottom($color: #E4E4E4) {
    border-bottom: 1px solid $color;
}
@mixin timeIcon {
    content: '';
    position: absolute;
    background-image: url('../images/time-icon.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    left: 0;
}